html {
    overflow-x: hidden;
    scrollbar-width: none;
}

body {
    margin: 0px;
    background-color: rgb(233, 233, 233);
}

#header {
    display: flex;
    flex-direction: row;
    background-color: rgb(80, 80, 80);
    width: 88vw;
    height: 8vh;
    padding-left: 4vw;
    padding-right: 8vw;
    align-items: center;
}

#header > #mopar {
    height: 65%;
}

#header > #FCA {
    height: 65%;
    margin-top: 0;
    margin-left: 2vw;
}

#header > h1 {
    letter-spacing: 2pt;
    font-family: "Libre Franklin";
    font-weight: 600;
    color: white;
    font-size: 1.7vw;
    margin-left: 5%;
}

#nav {
    display: flex;
    flex-direction: column;
    float: left;
    width: 20vw;
    height: 91vh;
    background-color: rgb(233, 233, 233);
    padding-top: 1vh;
    position: fixed;
}

.navElement {
    display: flex;
    flex-direction: column;
    width: 95%;
    height: 4%;
    margin-top: 2px;
    margin-bottom: 2px;
    /* background-color: brown; */
    letter-spacing: 1.75pt;
    font-family: "Libre Franklin";
    font-weight: 600;
    font-size: 1vw;
    justify-content: center;
    padding-left: 5%;
}

#content-wrapper {
    display: flex;
    flex-direction: column;
    margin: 0px;
    max-width: 98vw;
    min-height: 92vh;
    background-color: rgb(247, 247, 247);
    padding-left: 1vw;
    padding-right: 1vw;
    margin-left: 20vw;
}

#content-wrapper > h2 {
    margin-bottom: 0.6rem;
    font-family: "Libre Franklin";
    font-weight: 600;
    font-size: 1.5vw;
}

#content-wrapper > em {
    margin-bottom: 0.6rem;
    font-family: "Libre Franklin";
    font-style: italic;
    font-size: 1vw;
    background-color: rgb(255, 255, 96);
}

#content-wrapper > h3 {
    margin-bottom: 0.4rem;
    font-family: "Libre Franklin";
    font-weight: 600;
    font-size: 1.2vw;
}

#content-wrapper > p {
    margin-top: 0;
    font-family: "Libre Franklin";
    font-weight: 300;
    font-size: 1vw;
}

.active {
    box-shadow: -2px -2px 4px 3px rgb(131, 131, 131);
    background-color: rgb(172, 172, 172);
}

a:link {
    text-decoration: none;
    color: black;
  }
  
  a:visited {
    text-decoration: none;
    color: black;
  }
  
  a:hover {
    text-decoration: none;
    color: black;
    font-size: large;
    font-size: 1.1vw;
  }
  
  a:active {
    text-decoration: none;
    color: black;
  }

  table, th, td {
    border: 1px solid black;
  }

  table {
    border-collapse: collapse;
    margin-top: 2vh;
  }

  th {
      font-family: "Libre Franklin";
      font-weight: 600;
      font-size: 0.9vw;
      padding-left: 5px;
      padding-right: 5px;
  }

  td {
      font-family: "Fira Sans Condensed";
      text-align: center;
      font-size: 0.9vw;
  }


  .text {
      text-align: left;
      padding-right: 2px;
  }

  
::-webkit-scrollbar {
    width: 0;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}