body {
    margin: 0px;
    background-color: white;
}

#header {
    display: flex;
    flex-direction: row;
    background-color: rgb(80, 80, 80);
    width: 88vw;
    height: 8vh;
    padding-left: 4vw;
    padding-right: 8vw;
    align-items: center;
}

#header > #mopar {
    height: 65%;
}

#header > #FCA {
    height: 85%;
    margin-top: .5%;
    margin-left: 2vw;
}

#header > h1 {
    letter-spacing: 2pt;
    font-family: "Libre Franklin";
    font-weight: 600;
    color: white;
    font-size: 1.5em;
    margin-left: 5%;
}

#nav {
    display: flex;
    flex-direction: column;
    float: left;
    width: 20vw;
    height: 91vh;
    background-color: rgb(233, 233, 233);
    padding-top: 1vh;
}

.navElement {
    display: flex;
    flex-direction: column;
    width: 95%;
    height: 4%;
    margin-top: 2px;
    margin-bottom: 2px;
    /* background-color: brown; */
    letter-spacing: 1.75pt;
    font-family: "Libre Franklin";
    font-weight: 600;
    justify-content: center;
    padding-left: 5%;
}

#content-wrapper {
    display: flex;
    flex-direction: column;
    margin: 0px;
    max-width: 98vw;
    min-height: 92vh;
    background-color: rgb(247, 247, 247);
    padding-left: 1vw;
    padding-right: 1vw;
}

#content-wrapper > h2 {
    margin-bottom: 0.6rem;
    font-family: "Libre Franklin";
    font-weight: 600;
}

#content-wrapper > em {
    margin-bottom: 0.6rem;
    font-family: "Libre Franklin";
    font-style: italic;
    background-color: rgb(255, 255, 96);
}

#content-wrapper > h3 {
    margin-bottom: 0.4rem;
    font-family: "Libre Franklin";
    font-weight: 600;
}

#content-wrapper > p {
    margin-top: 0;
    font-family: "Libre Franklin";
    font-weight: 300;
}

.active {
    box-shadow: -2px -2px 4px 3px rgb(131, 131, 131);
    background-color: rgb(172, 172, 172);
}

a:link {
    text-decoration: none;
    color: black;
  }
  
  a:visited {
    text-decoration: none;
    color: black;
  }
  
  a:hover {
    text-decoration: none;
    color: black;
    font-size: large;
  }
  
  a:active {
    text-decoration: none;
    color: black;
  }